<% var orderBy = 'name' %> 

<%- partial('_partial/nav_crumb',{page}) %>

<%  function render_categories(cats, depth){ 
        depth = depth || 0
        cats.each((cat,index) => {
            let subCats = site.categories.find({parent: cat._id}).sort(orderBy).filter(cat => cat.length)
            // console.log(cat);
            // console.log(cat.posts.data[0].title);
%>       
            <div class="category-item d-flex"> 
                <div class="category-name flex-grow-1">
                    <i class="iconfont icon-plus mr-2 a-self-between"></i>
                    <span class="name a-self-center"><%= cat.name %></span>
                </div>
                
                <a class="category-count" href="<%- url_for(cat.path) %>">
                    <i class="iconfont icon-share mr-1 a-self-center font-lighter"></i>
                    <span class="font-lighter a-self-center"><%= cat.posts.length %></span>
                </a>
                
            </div>
            <div class="sub-cat pl-4">
                <%
                    const posts = cat.posts.sort('-date')
                    if (subCats.length > 0) {
                        const filteredPosts = cat.posts.filter((post) => {
                            return post.categories.filter(catOnPost => catOnPost.parent === cat._id).length === 0;
                        }) 
                        render_categories(subCats, depth+1)
                        render_posts(filteredPosts,cat)     
                    }else{
                        render_posts(posts,cat)
                    } 
                %>
            </div>
<%
        })  
    } 
    cats = site.categories.find({parent: {$exists: false}}).sort(orderBy).filter(cat => cat.length) 
%> 

<div id="categories">
    <% render_categories(cats) %> 
</div>

<% function render_posts(posts,cat) { 
        let limit = theme.category.post_limit // 获取文章个数

        for (let index = 0; index < posts.length; index++) {
            let post = posts.data[index]
            if (index && limit && index >= limit) {
        %>
            <div class="d-flex">
                <a href="<%- url_for(cat.path) %>" class="post-item flex-grow-1 font-lighter">More...</a> 
                <div class="placeholder"></div>
            </div>   
        <% break %>
        <% } else { %>
            <div class="d-flex">
                <a href="<%- url_for(post.path) %>" class="post-item flex-grow-1"><%= post.title %></a> 
                <div class="placeholder"></div>
            </div>        
        <%
        }    
    } 
} %>

