<!DOCTYPE html>
<html>
<head>
    <title><%- theme.title || config.title %></title>
    <meta charset="utf-8">
    <meta name="description" content="blog">
    <meta name="keywords" content="hexo,blog,wordpress,python,js,vue,php,小程序" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="icon" href="<%- url_for(theme.favicon) %>" type="image/x-icon">
    <!-- 引入资源 -->
    <%- css('assets/css/bootstrap.min.css') %>
    <%- css('assets/css/tocbot.css') %>
    <%- css('assets/css/iconfont.css') %>
    <%- css('assets/css/base.css') %>
    <%- css('assets/css/main.css') %>
    <%- js('assets/js/jquery-3.5.1.min.js') %>
    <%- js('assets/js/tocbot.min.js') %>
    <%- js('assets/js/main.js') %>
    <!-- 代码高亮 -->
     <!-- 代码高亮库 -->
     <!-- 引入代码高亮的 js -->
    <% if(theme.highlight.enable){ %>
        <%- css('/lib/highlight/styles/rainbow.css') %>
        <%- js('/lib/highlight/highlight.pack.js') %>
        <script>hljs.highlightAll();</script>
    <% } %>

   
</head>
<body>
    <div id="main">
        <!-- 引入导航 -->
        <div>
            <%- include('nav.ejs') %>
        </div>
        <!-- 引入正文 -->
        <div id="container" class="container">
            <div class="row d-flex justify-content-around">
                <div class="content col-12 col-lg-8">
                    <%- include('search.ejs') %>
                    <!-- 主体 -->
                    <div id="body"><%- body %> </div>                  
                </div>
 
                <!-- 引入侧边栏 -->
                <aside id="aside" class="col d-none d-lg-block col-lg-3">
                    <%- include('aside.ejs') %>
                </aside>             
            </div>
            <!-- 备案 -->
            <div class="font-sm">
                <span>© 2021 - 2023</span>
                <span class="text-grey ml-2">Hexo @</span>
                <a class="hover-primary mr-1 underline" href="#">Think </a> 
                <% if(theme.beian.enable){ %> 
                . <a class="font-sm hover-primary underline ml-2" href="<%- theme.beian.url %> ">
                    <%- theme.beian.name %>      
                </a>              
                <% } %> 
            </div>
        </div>
        <text id="up-top" class="iconfont icon-top" title="go back to the top"></text>
    </div>

    
</body>

</html>