
<%
    const menus = theme.menus
    function getKey(data, value){
        for(let k in data){       
            if(data[k] === value){
                return k
            }          
        }   
    }    
%>
<!-- 面包屑导航 -->
<div class="header-nav mb-4">
    <a href="/"> <%- getKey(menus, '/') %></a>

    <% 
        cats = page.categories.forEach(cat => {
    %>   
            <a class="item" href="<%- url_for(cat.path)  %>"> <%= titlecase(cat.name)  %></a>
    <%    
        })

    %>
</div>


<div id="article">
    <h1 class="title"> <%- titlecase(page.title)  %> </h1>
    <div class="info d-flex flex-wrap a-center mb-4 mt-2">
        <div class="px-2">
            <i class="iconfont icon-time font-gray font-sm mr"></i>
            <span class="font-gray font-sm"><%- date(page.date, config.date_format) %>发布 </span>
        </div>
        <span class="px-2 font-gray font-xxs"> | </span>
        <div class="px-2">
            <% 
                formatTag(page.tags)
            %>    
        </div>
       
    </div>
    <div class="mt-2"><%- page.content %></div>
    
</div>
<div class="font-gray font-xs text-center my-5 py-5">
    ------------ END ------------    
</div>


<%- partial('_partial/comment') %>

<%
    function publish_date(date){
        return moment(date, "YYYYMMDD").locale('zh-cn').fromNow()
    }
%>

<% 
    // 格式化标签
    function formatTag(data){
        data.forEach((item,index) => {
%> 
            <a class="font-gray font-sm mr" href="<%- url_for(item.path)  %>">                   
                # <%= titlecase(item.name)  %>
            </a>
<%    
        })
    }
%>